#L {
  font-size: 200%;
  font-weight: bold;
}
#here {
  font-size: 100%;
}
#lh {
  position: absolute;
  margin-top: 30%;
  margin-left: 30%;
  font-size: 150%;
  color: white;
}
#button {
  background-color: red;
  border: black;
  color: black;
  padding: 10px 60px;
  text-align: center;
  text-decoration: double;
  display: inline-block;
  font-size: 15px;
  border-radius: 15px;
  margin-left: 5%;
}
#mainbody {
  background-image: url("./../img/WhatsApp\ Image\ 2022-12-29\ at\ 1.26.46\ PM.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
#alllogin {
  border: 3px solid white;
  width: 300px;
  height: 450px;
  position: absolute;
  margin-top: -35%;
  margin-left: 35%;
}

#dragon {
  border-radius: 50%;
  width: auto;
  height: 120px;
  position: relative;
  margin-bottom: 470px;
  margin-left: -200px;
}
#black {
  opacity: 0.5;
  width: 350px;
  height: 600px;
  position: relative;
  margin-bottom: -10px;
  margin-left: 510px;
}
#white {
  color: aliceblue;
}
#form {
  position: relative;
  margin-top: 50%;
  margin-left: 20%;
}
